<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skate Park</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background-color: #343a40; 
            color: #fff; 
        }
    </style>
</head>
<body class="bg-dark text-light"> <!-- tema oscuro -->
    <div class="container">
        <h1>Skate Park</h1>

        <div class="py-4">
            <h2>Datos del perfil</h2>
            <hr class="w-50" />

            <form id="update">
                <div class="form-group row w-50 m-auto">
                    <div class="form-group col-12 col-sm-6">
                        <label>Email</label>
                        <input class="form-control m-auto" disabled name="email" value="{{skater.email}}">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label>Nombre</label>
                        <input type="text" name="nombre" class="form-control m-auto" value="{{skater.nombre}}">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control m-auto" value="" placeholder="Ingresa tu nueva contraseña">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label>Repita la password</label>
                        <input type="password" name="password2" class="form-control m-auto" value="" placeholder="Repite tu nueva contraseña">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label>Años de experiencia</label>
                        <input type="number" name="anos_experiencia" class="form-control m-auto" value="{{skater.anos_experiencia}}">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label>Especialidad</label>
                        <input type="text" name="especialidad" class="form-control m-auto" value="{{skater.especialidad}}">
                    </div>
                </div>
                <div class="mb-1">
                    <button type="submit" name="actualizar" class="btn btn-primary">Actualizar</button>
                </div>
                <div>
                    <button type="button" name="eliminar" class="btn btn-danger" onclick="eliminarCuenta('{{skater.email}}')">Eliminar cuenta</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        // Eliminar cuenta
        async function eliminarCuenta(email) {
            const confirmar = confirm(`¿Estás seguro que deseas eliminar la cuenta de ${email}?`);

            if (confirmar) {
                try {
                    const response = await fetch(`/skaters?email=${email}`, {
                        method: "DELETE",
                    });

                    const data = await response.json();

                    if (response.status === 500) {
                        throw new Error("Error de servidor, inténtalo más tarde");
                    } else {
                        alert("Usuario eliminado con éxito");
                        window.location = "/";
                    }
                } catch (error) {
                    alert("Error al intentar eliminar la cuenta");
                    console.error("Error de red:", error);
                }
            }
        }

        // Evento submit para actualizar los datos
        document.getElementById("update").addEventListener("submit", async (event) => {
            event.preventDefault();

            const { password, password2 } = event.target;

            if (password.value !== password2.value) {
                alert('Las contraseñas no coinciden');
                return;
            }

            try {
                const formData = new FormData(event.target);
                formData.append("email", event.target.email.value);

                const response = await fetch("/skaters", {
                    method: "PUT",
                    body: formData
                });

                const data = await response.json();

                if (response.status === 500) {
                    throw new Error("Error de servidor");
                }

                if (response.status === 200) {
                    alert(`Usuario ${data.skater[0].email} ha sido actualizado con éxito`);
                    window.location = "/";
                }

            } catch (error) {
                alert('Error actualizando usuario');
                console.error("Error de red:", error);
            }
        });
    </script>

</body>
</html>
